* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #58adc2;
}

.container {
    width: 400px;
    background: #ffffff;
    padding: 20px;
    margin: 40px auto;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(43, 127, 223, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 7px;
    margin: 6px 0 14px;
}

.gender {
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background-color: #0056b3;
}